<div class="container mb-4 gt-cta-wrap">
        <div class="gt-cta">
            <div>
                <h3>سایز لاستیک خودروتان را می‌دانید؟</h3>
                <p>همین حالا برای استعلام قیمت و موجودی تماس بگیرید یا در واتساپ پیام بدهید.</p>
            </div>
            <div class="cta-btns d-flex flex-wrap gap-2">
                <a href="tel:09120346053" class="btn btn-light btn-lg rounded-pill px-4"><i class="fa-solid fa-phone me-2"></i> تماس تلفنی</a>
                <a href="https://wa.me/989120346053?text=%D8%B3%D9%84%D8%A7%D9%85%D8%8C%20%D8%A8%D8%B1%D8%A7%DB%8C%20%D8%A7%D8%B3%D8%AA%D8%B9%D9%84%D8%A7%D9%85%20%D9%82%DB%8C%D9%85%D8%AA%20%D9%88%20%D9%85%D9%88%D8%AC%D9%88%D8%AF%DB%8C%20%D9%84%D8%A7%D8%B3%D8%AA%DB%8C%DA%A9%20%D9%BE%DB%8C%D8%A7%D9%85%20%D9%85%DB%8C%E2%80%8C%D8%AF%D9%87%D9%85." target="_blank" rel="noopener" class="btn btn-outline-light btn-lg rounded-pill px-4"><i class="fa-brands fa-whatsapp me-2"></i> واتساپ</a>
            </div>
        </div>
    </div>